/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --background-color: #fff1f7;
  --background-img: url("/images/cover-image-light.png");
  --accent-color: #ff8dcb;
  --title-color: #ffc2e6;
  --text-color: #353430;
  --text-color-accent: #353430;
}

@media (prefers-color-scheme: light) {
  :root {
    --background-color: #fff1f7;
    --background-img: url("/images/cover-image-light.png");
    --accent-color: #ff8dcb;
    --title-color: #ffc2e6;
    --text-color: #353430;
  }
}
