/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-image: var(--background-img);
  background-position: center;
  background-attachment: fixed;
  background-color: var(--background-color);
  background-repeat: no-repeat;
  background-size: cover;
  scroll-behavior: smooth;
}

.header {
  position: relative;
  height: 100vh;
  min-height: 768px;
  display: grid;
}

.decorative-text {
  display: var(--decoration-display);
  position: absolute;
  justify-self: end;
  right: 50px;
  top: 20px;
  color: var(--accent-color);
  font-family: var(--font-fam), monospace, sans-serif;
  font-weight: var(--text-regular);
  font-size: var(--font-size-s);
  line-height: 25px;
}

.decorative-text::after {
  display: var(--decoration-display);
  content: "";
  position: absolute;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--accent-color);
  background-color: var(--accent-color);
  transform: translateY(-50%);
  inset-inline-end: -20px;
  inset-block-start: 50%;
  inline-size: 10px;
  block-size: 10px;
}

.decoration::after,
.decoration::before {
  content: "";
  display: block;
  border: 1px solid var(--btn-accent-color);
  position: absolute;
}

.decoration::after {
  margin: 20px 20px;
  width: 25px;
  height: 25px;
  border-top: 0;
  border-right: 0;
  align-self: flex-end;
}

.decoration::before {
  margin: 20px 20px;
  border-bottom: 0;
  border-left: 0;
  width: 25px;
  height: 25px;
  justify-self: end;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: row;
  justify-self: center;
  gap: 10px;
  margin-block-start: 17px;
}

.header__theme-menu-button {
  background-color: transparent;
  border-color: transparent;
  color: var(--btn-accent-color);
  width: 70px;
  height: 26px;
  font-family: var(--font-fam), monospace, sans-serif;
  font-weight: var(--text-regular);
  font-size: var(--font-size-s);
  text-transform: lowercase;
  line-height: 18px;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--btn-accent-color);
}

.header__theme-menu-button:focus {
  border-bottom: 1px solid var(--btn-accent-color);
}

.header__theme-menu-button_active {
  border-color: var(--btn-accent-color);
  pointer-events: none;
}

.title-style {
  font-family: var(--font-fam), monospace, sans-serif;
  font-weight: var(--text-bold);
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  line-height: 83%;
  color: var(--title-color);
  text-shadow: 4px 4px 0px var(--accent-color);
  margin-block-start: 160px;
}

.header__description {
  width: 491px;
  margin-right: 20px;
  justify-self: end;
  margin-block-end: 20px;
}

.title-decor {
  font-family: var(--font-fam), monospace, sans-serif;
  font-weight: var(--text-bold);
  font-size: var(--font-size-s);
  line-height: 23.4px;
  background-color: var(--accent-color);
  color: var(--text-color-accent);
}

.section__title {
  font-family: var(--font-fam), monospace, sans-serif;
  font-weight: var(--text-bold);
  font-size: var(--font-size-s);
  line-height: 23.4px;
  color: var(--btn-accent-color);
}

.section__text {
  font-family: var(--font-fam), monospace, sans-serif;
  font-weight: var(--text-regular);
  font-size: var(--font-size-s);
  line-height: 23.4px;
  color: var(--text-color);
}

.title-decor-subtitle {
  font-weight: var(--text-regular);
}

.section {
  display: grid;
  grid-template-columns: 0.33fr 0.77fr;
  padding: 0 20px 0 20px;
  margin-block-start: 60px;
}

.section:not(:first-child) {
  margin-block-start: 80px;
}

.section__list {
  padding-left: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.section__link {
  text-shadow: var(--accent-color) 2px 2px;
  text-decoration: none;
}

.section__link:hover {
  border-bottom: 1px solid var(--btn-accent-color);
}

.section__link:focus {
  border: 1px solid var(--btn-accent-color);
}

.section__list-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.section__concentration {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 20px;
}

.section__title__concentration {
  grid-column: 1;
  grid-row: 1;
}

.section__list__concentration {
  grid-column: 1 / span 3;
  grid-row: 2;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-left: 0;
}

.section__gallery {
  margin-block-start: 80px;
  padding: 0 20px 0 20px;
}

.gallery__img {
  display: block;
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  block-size: 100%;
}

.gallery {
  display: grid;
  margin-block-start: 20px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "sunset sunset ice-cream"
    "tape    books   ice-cream"
    "tape    street  street";
  gap: 20px;
  row-gap: 20px;
}

.gallery__list-item:nth-child(1) {
  grid-area: sunset;
}
.gallery__list-item:nth-child(2) {
  grid-area: ice-cream;
}
.gallery__list-item:nth-child(3) {
  grid-area: tape;
}
.gallery__list-item:nth-child(4) {
  grid-area: books;
}
.gallery__list-item:nth-child(5) {
  grid-area: street;
}

.footer__section {
  display: grid;
  height: 100vh;
  min-height: 768px;
  align-items: center;
  justify-content: center;
  margin-block-start: 60px;
}

.footer__title {
  font-family: var(--font-fam), monospace, sans-serif;
  font-weight: 700;
  font-size: var(--font-size-xl);
  line-height: 83%;
  color: var(--title-color);
  text-shadow: 2px 2px var(--accent-color);
}

.decoration__footer::after,
.decoration__footer::before {
  content: "";
  display: block;
  border: 1px solid var(--btn-accent-color);
  position: absolute;
}

.decoration__footer::after {
  margin: 20px 20px;
  width: 25px;
  height: 25px;
  border-top: 0;
  border-right: 0;
  align-self: flex-end;
}

.decoration__footer::before {
  margin: 20px 20px;
  border-bottom: 0;
  border-left: 0;
  width: 25px;
  height: 25px;
  align-self: self-start;
  justify-self: flex-end;
}

@media (width < 1024px) {
  .header__theme-menu-list {
    flex-direction: column;
    justify-self: end;
    margin-right: 20px;
    margin-block-start: 30px;
  }

  .header__theme-menu {
    align-self: self-end;
  }

  .header__title {
    margin-block-start: 175px;
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }

  .header__description {
    width: 364px;
  }

  .section__list__concentration {
    grid-template-columns: 1fr;
  }

  .section__title__advice {
    min-width: 236px;
  }

  .section__list__advice {
    grid-column: 2 / span 3;
    padding-left: 20px;
  }

  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

@media (width < 768px) {
  .decorative-text {
    top: 10px;
    right: 40px;
  }

  .header__theme-menu-list {
    margin-block-start: 23px;
    margin-right: 10px;
  }

  .header__theme-menu {
    align-self: self-end;
  }

  .decoration::after {
    margin: 10px 10px;
  }

  .decoration::before {
    margin: 10px 10px;
  }

  .header__title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    margin-block-start: 66px;
    margin-left: 10px;
    line-height: 83%;
  }

  .header {
    min-height: 668px;
  }

  .header__description {
    justify-self: center;
    width: 355px;
    margin-right: 0;
    margin-block-end: 14px;
  }

  .section {
    display: flex;
    flex-direction: column;
    padding: 0 10px 0 10px;
    margin-block-start: 40px;
  }

  .section:not(:first-child) {
    margin-block-start: 50px;
  }

  .section__list {
    padding-left: 0px;
    margin-block-start: 20px;
  }

  .section__list-item {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .section__concentration {
    display: grid;
    grid-template-columns: 1fr;
  }

  .section__title__concentration {
    grid-column: auto;
    grid-row: auto;
  }

  .section__list__concentration {
    grid-template-columns: 1fr;
    margin-block-start: 0px;
  }

  .section__list__advice {
    margin-block-start: 19px;
  }

  .section__gallery {
    margin-block-start: 50px;
    padding: 0 10px 0 10px;
  }

  .gallery__img {
    display: block;
    object-fit: cover;
    object-position: center;
    inline-size: 100%;
    block-size: 100%;
  }

  .gallery {
    display: flex;
    flex-direction: column;
    margin-block-start: 10px;
    gap: 10px;
  }

  .footer__section {
    height: 100vh;
    min-height: 668px;
    align-items: center;
    justify-content: center;
    margin-block-start: 42px;
  }

  .footer__title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }
}
